#movie_add_to_screen {
    width: auto;
    margin: 0 auto;
}
#rotten_tomatoes_info{
    background-color: #FEF7CD;
    margin-bottom: 20px;
}
#rotten_tomatoes_info p{
    color: black;
}
#rotten_tomatoes_info h5 {
    color: black;
}
#rating_image{
    width: 45px;
}
#tomato_meter_percentage {
    font-size: xx-large;
    font-weight: 500;
    color: black;
}
#audience_rating_image {
    width: 45px;
}
#tomato_user_meter_percentage {
    font-size: xx-large;
    font-weight: 500;
    color: black;
}
#poster_image {
    width: auto;
    height: 377px;
}
#screen_no {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
.video-container {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
#Movie_name {
    font-size: 20px;
    color: #f3b12b;
}
#Movie_details_title {
    color: #f3b12b;
    font-size: 14px;
    margin-top: 16px;
}
#Movie_details h4{
    color: floralwhite;
}
#Movie_details {
    margin-left:-14px;
}